zed/
Joplin/
joplin-desktop/
microsoft-edge/
obs-studio/
obsidian/
wezterm/
vlc/
spotify/
spicetify/
nvim/
QQ/
vivaldi/
zellij/
com.yida.chatgpt.next.web/
beekeeper-studio/
clipse/
Code - OSS/
dunst/
discord/
go/
ibus/
kitty/
nwg-work/
procps/
pulse/
session/
Typora/
rncbc.org/
ristretto/
luakit/
cef_user_data/
ags/
chromium/
qutebrowser/
