@import "mocha.css";
* {
  background-image: none;
  font-family: JetBrainsMono Nerd Font;
}
window {
	background-color: transparent;
	background-image: image(url("bg.jpg"));
	background-position: center;
	background-repeat: no-repeat;
	background-size: 120%;
  /* background-color: rgba(180, 190, 254, 0.8); */
}
/* button {
    color: @mauve;
	font-size: 16px;
	background-color: transparent;
	border-style: none;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 35%;
	border-radius:30px;
	margin: 182px 5px;
	text-shadow: 0px 0px;
	box-shadow: 0px 0px;
} */
button {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30%;
    background-color: transparent;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s ease-in;
    box-shadow: 0 0 10px 2px transparent;
    border-radius: 36px;
    margin: 182px 5px;
}
button:focus {
    box-shadow: none;
    background-size : 30%;
}

button:hover {
    background-size: 60%;
    box-shadow: 0 0 10px 3px rgba(0,0,0,.4);
    background-color: @color6;
    color: transparent;
    transition: all 0.3s cubic-bezier(.55, 0.0, .28, 1.682), box-shadow 0.5s ease-in;
}

/* button:focus,  */
/* button:active, button:hover {
	background-color: @mauve;
	outline-style: none;
} */

#lock:hover {
    background-image: image(url("icons/lock.png"));
}

/* #lock:hover {
	background-image: image(url(""));
} */

#logout:hover {
    background-image: image(url("icons/Logout.png"));
}

#suspend:hover {
    background-image: image(url("icons/suspend.png"));
}

/* #hibernate {
    background-image: image(url("/home/wilf/.config/wlogout/icons/hibernate.png"), url("/usr/local/share/wlogout/icons/hibernate.png"));
} */

#shutdown:hover {
    background-image: image(url("icons/power-off.png"));
}

#reboot:hover {
    background-image: image(url("icons/reboot.png"));
}

#lock {
    background-image: image(url("icons/lock\ \(1\).png"));
}

/* #lock:hover {
	background-image: image(url(""));
} */

#logout {
    background-image: image(url("icons/Logout\ \(1\).png"));
}

#suspend {
    background-image: image(url("icons/suspend\ \(1\).png"));
}

/* #hibernate {
    background-image: image(url("/home/wilf/.config/wlogout/icons/hibernate.png"), url("/usr/local/share/wlogout/icons/hibernate.png"));
} */

#shutdown {
    background-image: image(url("icons/Poweroff\ \(1\).png"));
}

#reboot {
    background-image: image(url("icons/reboot\ \(1\).png"));
}
