@import "mocha.css"
{
  font-family: "JetBrainsMono Nerd Font";
  color: #c4d3da;
}

window {
  border: 3px solid #cba6f7;;
  /* background: #1e1e2e; */
  background-color: rgba(30, 30, 46, 0.8);
  border-radius: 15px;
}

#input {
  margin: 1.5em;
  margin-bottom: 0em;
  padding: 1em;
  border: none;
  font-weight: bold;
  border: 1px solid transparent;
  background: rgba(30, 32, 48, 0.8);
  color: #c4d3da;
  border-radius: 15px;
}

#input:focus {
  border: 1px solid #90cdfa;
}

#inner-box {
  margin: 1.5em;
  margin-top: 0.5em;
}

#outer-box {
  margin-bottom: 0.5em;
}

#scroll {
  margin-top: 5px 0;
  display: none;
}

#text {
  margin-left: 0.5em;
  color: #c4d3da;
}

#text:selected {
  color: #16161e;
}

#entry {
  margin-top: 0.5em;
  border-radius: 15px;
}

#entry:selected {
  background: linear-gradient(90deg, #90cdfa 0%, #b69bf1 80%);
}
